.navbar-inverse{
  background-color:#e6b673;
}

.navbar-inverse .navbar-nav>li.active>a{
  color:#ffffff;
}
.navbar-inverse .navbar-nav>li>a{
  color:#ffffff;
}

.navbar-inverse .navbar-brand{
  color:#ffffff;
}